html{
	font-size: 62.5%;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

header {
	margin: 0px;
	padding: 0px;
	z-index: 100000;
	width:100%;
	top: 0;
	position: fixed;
	background-color: #faf1e7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .navRow,
footer .row {
	display: flex;
	align-items: center;
	width: 100%;
}

header h1 {
	font-weight: 700;
	left: 10px;
	margin: 0;
}

header nav {
	display: flex;
	justify-content: flex-end;
	font-size: 24px;font-size: 2.4rem;
}

header div {
	align-items: center;
	height: 100px;
	vertical-align: middle;
	line-height: 100px;
	color: #000000;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
	font-size: 16px; font-size: 1.6rem;
}

header .navlink{
	width: 100px;
	text-align: center;
	-webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

header .navlink:hover{
		background-color: #ECE0D2;
}


p#catalog{
	border-right: 1px #D72638;
}
p#apply{
	border-right: 1px #46A93E;
}
p#about{
	border-right: 1px #00B5FF;
}

.s1Background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('https://images.unsplash.com/photo-1472162072942-cd5147eb3902?dpr=1&auto=compress,format&fit=crop&w=1500&h=&q=80&cs=tinysrgb&crop=');
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.8);
}

.parallax {
	background-attachment: fixed;
}

.headline {
	display: flex;
	align-items: center;
	width: 50%;
	opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
	height: 500px;
	float: right;
}

.headline h2 {
	font-size: 68px;font-size: 6.8rem;
	font-weight: 700;
	margin: 0 0 20px;
	color: #46A93E;
}

.headline h3 {
	margin: 0 0 25px;
	font-size: 34px;font-size: 3.4rem;
	color: #46A93E;
}

.col-md-6 {
	margin: 0 0 30px;
}

.btn.btn-primary {
	font-family: 'eczar', serif;
	border-radius: 2px;
	border: solid 2px #46A93E;
	font-size: 16px;font-size: 1.6rem;
	color: #ffffff;
	text-shadow: none;
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

.btn.btn-primary:hover {
	color: #ffffff;
	background-color: #46A93E;
	border-color: #46A93E;
}

.s2Background{
	width: 100%;
	height: 100%;
	background-color: #D72638;
	padding: 3.2rem 9.2rem;
}

.s2Background div {
	display: inline;
	align-items: center;
}

.bio {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: white;
}

.bio h2{
	font-size: 68px;font-size: 6.8rem;
}

.bio p {
		font-size: 16px;font-size: 1.6rem;
		margin: 0;
}

.s3Background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('https://images.unsplash.com/photo-1476703993599-0035a21b17a9?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.8);
}

.mentor {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: #00B5FF;
	width: 40%;
	opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
	height: 100%;
	float: left;
	margin: auto;
	padding: 2.0rem;
	background-color: rgba(0,0,0,0.5);
}

.mentor h2{
	font-size: 68px;font-size: 6.8rem;
}

.mentor p {
		font-size: 16px;font-size: 1.6rem;
		margin: 0;
}

.s4Background {
	width: 100%;
	background-color: #46A93E;
}

.s4Background .books_title{
	display: inline;
	align-items: center;
}

.books_title{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: white;
	height: 20%;
}

.books_title h2{
	font-size: 68px;font-size: 6.8rem;
}

.books_popular{
	overflow: auto;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	background-color: rgba(0,0,0,0.5);
	margin-bottom: 20px;
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.8);
}

.book_popular{
	margin: 10px 20px;
	height: 30.0rem;
	width: 20.0rem;
	display: inline;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.books_popular a:hover{
	text-decoration: none;
}

#seeAll{
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 32px;font-size: 3.2rem;
	color: white;
	display: flex;
  align-items: center;
  justify-content: center;
}

.s5Background{
	width: 100%;
	height: 500px;
	background-size: cover;
	background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.testimonials {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: #F5A549;
	opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
	height: 100%;
	margin: auto;
	padding: 2.0rem;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

.btn-secondary {
	background-color: #E8DFE0;
	color: #ffffff;
	margin: 0 0 30px;
}

.footer-distributed{
	background-color: #000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
