body {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	background-color: #faf1e7;
	background-image: url('https://images.unsplash.com/photo-1472162072942-cd5147eb3902?dpr=1&auto=compress,format&fit=crop&w=1500&h=&q=80&cs=tinysrgb&crop=');
}

header {
	margin: 0px;
	padding: 0px;
	width: 100%
}

header .row,
footer .row {
	display: flex;
	align-items: center;
}

header h1 {
	font-weight: 700;
	margin: 0;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header div {
	align-items: center;
	height: 100px;
	vertical-align: middle;
	line-height: 100px;
	color: #000000;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
}

.headline {
	display: flex;
	align-items: center;
	width: 50%;
	opacity: 1; 
    filter: alpha(opacity=100); /* For IE8 and earlier */
	height: 500px;
	float: right;
}

.headline h2 {
	font-size: 60px;
	font-weight: 700;
	margin: 0 0 20px;
	color: #46A93E;
}

.headline h3 {
	margin: 0 0 25px;
	color: #46A93E;
}

.stroke {
	color: black;
	-webkit-text-fill-color: #faf1e7;
	-webkit-text-stroke: 1px black;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.col-md-6 {
	margin: 0 0 30px;
}

.btn.btn-primary {
	font-family: eczar, serif;
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #46A93E;
	color: #46A93E;
	text-shadow: none;
	background-color: transparent;
}

.btn.btn-primary:hover {
	color: #ffffff;
	background-color: #46A93E;
	border-color: #46A93E;
	
}

.secondary {
	display: flex;
	background-size: cover;
	background-color: #246EB9;
}

.btn-secondary {
	background-color: #E8DFE0;
	color: #ffffff;
	margin: 0 0 30px;
}

footer {
	font-size: 12px;
	padding: 20px 0;
}

footer .col-sm-8 {
	display: flex;
	justify-content: flex-end;
}

footer ul {
	list-style: none;
}

footer li img {
	width: 32px;
	height: 32px;
}

.gwd-header-dhg4 {
	top: 0px;
	left: 118px;
}